body{
background:#121212;
color:white;
font-family:Poppins,sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:80%;
background:#181818;
padding:30px;
border-radius:20px;
}

canvas{
background:white;
border-radius:10px;
padding:20px;
}