*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#121212;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.player{

width:380px;

background:#181818;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 0 25px rgba(0,0,0,.5);

}

.player img{

width:250px;

height:250px;

object-fit:cover;

border-radius:20px;

margin-bottom:20px;

}

.player h2{

margin-bottom:8px;

}

.player p{

color:#aaa;

margin-bottom:20px;

}

#progress{

width:100%;

accent-color:#1DB954;

margin-bottom:10px;

cursor:pointer;

}

.time{

display:flex;

justify-content:space-between;

margin-bottom:25px;

font-size:14px;

color:#aaa;

}

.controls{

display:flex;

justify-content:center;

gap:15px;

margin-bottom:25px;

}

.controls button{

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#1DB954;

color:white;

font-size:20px;

cursor:pointer;

transition:.3s;

}

.controls button:hover{

transform:scale(1.1);

background:#16a34a;

}

.bottom{

display:flex;

justify-content:space-between;

align-items:center;

}

#favorite{

width:50px;

height:50px;

border:none;

border-radius:50%;

background:#ff3b5c;

color:white;

cursor:pointer;

font-size:18px;

}

.volume{

display:flex;

align-items:center;

gap:10px;

}

#volume{

accent-color:#1DB954;

}

@media(max-width:500px){

.player{

width:95%;

}

.player img{

width:220px;

height:220px;

}

}