*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#121212;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:90%;
max-width:1100px;
background:#181818;
display:flex;
border-radius:20px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,.5);
}

.left-panel{
width:50%;
background:#1DB954;
padding:50px;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.left-panel h1{
font-size:40px;
margin-bottom:20px;
}

.left-panel p{
font-size:17px;
margin-bottom:30px;
line-height:28px;
}

.left-panel img{
width:320px;
}

.right-panel{
width:50%;
display:flex;
justify-content:center;
align-items:center;
padding:40px;
background:#181818;
}

.login-box{
width:100%;
max-width:400px;
}

.login-box h2{
color:white;
margin-bottom:30px;
text-align:center;
}

.input-box{
position:relative;
margin-bottom:20px;
}

.input-box input{
width:100%;
padding:15px 45px;
border:none;
border-radius:10px;
font-size:15px;
outline:none;
background:#2b2b2b;
color:white;
}

.input-box i:first-child{
position:absolute;
left:15px;
top:50%;
transform:translateY(-50%);
color:#1DB954;
}

#togglePassword{
position:absolute;
right:15px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
color:#1DB954;
}

.options{
display:flex;
justify-content:space-between;
margin-bottom:25px;
font-size:14px;
}

.options label{
color:white;
}

.options a{
color:#1DB954;
text-decoration:none;
}

button{
width:100%;
padding:15px;
border:none;
background:#1DB954;
color:white;
font-size:17px;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#17a74a;
}

@media(max-width:768px){

.container{
flex-direction:column;
}

.left-panel,
.right-panel{
width:100%;
}

.left-panel img{
width:220px;
}

}